
footer {
	position: relative;
}
a:hover {
	text-decoration: inherit;
}
#comment_txt{
	/*padding:0 15px;*/
}
/***** Used *****/
.download_boxes {
	max-width: 1102px;
	margin: 10px auto;
	/*padding: 15px 0 0 0;
	display: flex;
	flex-direction: row;*/
	white-space: nowrap;
}
.download_boxes::after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.download_boxes .dld_boxes.single{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.download_boxes .dld_boxes{
    /*float: none!important;*/
    /*width: calc(100%/3.03)!important;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
}
.download_boxes .dld_boxes:first-child > .dld_box{
	padding-left: 0;
}
.download_boxes .dld_boxes:last-child > .dld_box{
	padding-right: 0;
}

/*.download_boxes .dld_box:hover>.dld_box_wrap .box_up span a {*/
/*	background: rgba(255, 255, 255, .52);*/
/*	color: #000;*/
/*}*/
/*.download_boxes .dld_box:hover>.dld_box_wrap .box_up span {*/
/*	background-size: cover!important;*/
/*}*/

.download_boxes .dld_box {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.download_boxes .dld_box .dld_box_wrap {
	background: var(--preset-f);
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.08) 0 0 18px;
	border-radius:var(--radius);
	border: 2px solid #fff!important;
    box-sizing: border-box;
    background: linear-gradient(180deg, var(--mirror) 0, #fff)!important;
    background: -webkit-linear-gradient(-90deg, var(--mirror) 0, #fff)!important;
}
.dld_box .box_up img.lazy {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.single .dld_box .box_up span{
    /*height: 320px;*/
}
.dld_box .box_up span {
	width: 100%;
	height: 180px;
	line-height: 180px;
	display: block;
	position: relative;
	border-radius: inherit;
}
.dld_box .box_up span a {
	width: 100%;
	height: inherit;
	line-height: inherit;
	color: var(--preset-f);
	background: rgba(0, 0, 0, .5);
	position: absolute;
	left: 0;top: 0;
	border-radius: inherit;
}
.dld_box .box_up span a h3 {
	/*margin: 23% auto;*/
	margin: auto;
	line-height: inherit;
	font-size: 1.5rem;
	font-family: var(--font-serif);
}
.dld_box .box_up span a i {
	font-size: 12px;
	font-weight: bold;
	color: currentColor;
	background: var(--theme-color);
	position: absolute;
	top: -5px;right: -5px;
	z-index: 1;
	padding: 0 10px 0 15px;
	line-height: 22px;
	letter-spacing: 1px;
	clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.dld_box .box_up span a em {
	display: block;
	width: 0;
	height: 0;
	border-top: 5px solid var(--theme-color);
	border-right: 5px solid transparent;
	position: absolute;
	top: 17px;
	right: -5px;
	opacity: .75;
}
.dld_box .box_down {
	width: 100%;
}
.box_down ul {
	margin-bottom: 0;
	padding: 0;
}
.box_down ul li.disabled{
    opacity: .5;
    pointer-events: none;
}
.box_down ul li span {
	display: block;
	width: inherit;
	height: inherit;
}
.box_down ul li .details:hover > div i{
	/*bottom: 0;*/
	right: 0;
}
/*.box_down ul li .details:hover>span {*/
/*	background-size: auto!important;*/
/*}*/
.box_down ul li:last-child .details{
    margin-bottom: auto;
}
.box_down ul li .details {
	color: var(--preset-8);
	width: 100%;
	overflow: hidden;
	text-align: left;
	/*display: flex;*/
	/*flex-flow: row nowrap;*/
	/*padding: 5px 0;*/
	/*margin: 5px auto;*/
	margin-bottom: 15px;
	box-sizing: border-box;
	transition: background .35s ease;
	position: relative;
}
/*.box_down ul li .details a:hover:after{*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background: rgba(0 0 0 / 0.15);*/
/*}*/
.box_down ul li .details a,
.box_down ul li .details img,
.box_down ul li .details span,
.box_down ul li .details .desc{
	display: inline-block;
    vertical-align: middle;
}
.box_down ul li .details img,
.box_down ul li .details span {
	/*background: url('https://img.2broear.com/download/minecraft.png') center center;*/
	width: 60px;
	height: 60px;
	border-radius:var(--radius);
	background-size: cover!important;
	object-fit: cover;
	webkit-user-drag: none;
}
.download_boxes .dld_boxes.single .box_down ul li .details .desc{
	font-size: var(--min-size-rem);
}
.box_down ul li .details .desc {
	color: currentColor;
	font-size: var(--min-size);
	max-width: 75%;
	/*width: 100%;*/
	height: 100%;
	/*padding-left: 15px;*/
	/*padding: 5px 10px;*/
	box-sizing: border-box;
	margin-left: 10px;
	/*float: left;*/
	/*text-align: left;*/
	/*position: relative;*/
	/*overflow: hidden;*/
	line-height: 22px;
	transition: all .15s ease;
    white-space: initial;
}

.box_down ul li .details:hover .desc a {
    display: inline-block;
}
.box_down ul li .details .desc a:hover{
    color: var(--theme-color);
}
.box_down ul li .details .desc a{
    display: none;
    color: var(--preset-link);
    font-weight: bold;
	font-size: var(--min-size-rem);
    text-decoration: underline;
	margin: 5px;
    position: absolute;
    right: 0;
    bottom: -5px;
    z-index: 1;
}

.box_down ul li .details .desc i {
	display: block;
	width: 100%;
	height: inherit;
	font-style: normal;
	position: absolute;
	/*bottom: -100%;*/
	/*left: 0;*/
	top: 0;
	right: -100%;
	transition: right .35s ease;
	background:var(--preset-f);
}
.box_down ul li .details .desc i a:hover {
	background: var(--preset-6);
}
.box_down ul li .details .desc i a {
	color: var(--preset-f);
	background: var(--preset-4a);
	border: 1px solid transparent;
	font-size: var(--min-size-rem);
	padding: 2px 15px;
	margin: 20px 15px;
	border-radius: 5px;
	float: right;
	width: 20%;
	text-align: center;
	transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
}

/* valine comments */
#vcomments{
	max-width: 1102px;
}

@media only screen and (max-width: 600px) {
	/*.download_boxes{display: block;}*/
	.download_boxes .dld_boxes:first-child > .dld_box{
		padding-left: 15px;
	}
	.download_boxes .dld_boxes:last-child > .dld_box{
		padding-right: 15px;
	}
	#vcomments{
		max-width: 1102px;
		padding: 0 15px!important;
	}
	#comment_txt,
	.wp_comment_count,
	.wp_comment_tip,
    .wp_comment_box{
        padding: 0 15px;
        box-sizing: border-box;
    }
}
