/**
**
**  Experimental UI
**  @2026
**
**/
figure.wp-block-gallery {
    flex-flow: row;
}
figure.wp-block-gallery > figure {
    width: 100%;
    margin: 5px;
}

.load button {
    color: var(--preset-6a);
}
.share .liked span#like em {
    background-position-x: -478px !important;
}
.empty_card {
    padding: 10% 0 0;
}
.ibox.quotes a {
    color: var(--preset-5a);
}

/*body.dark .news-article-container .v .vlist .vcard:hover,*/
body.dark .news-article-container .v .vlist .children:hover {
    background: var(--preset-3a);
}
.pageSwitcher.dev a:focus {
    box-shadow: none!important;
}
.pageSwitcher.dev span.vloading {
    display: inline-block!important;
    vertical-align: middle;
    padding: 0;
}
.pageSwitcher.dev span.vloading i {
    display: none;
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://imgs.2broear.com/2026/05/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: noise-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  /*z-index: 1;*/
  pointer-events: none;
}

@keyframes noise-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
.inside_of_block nav.main-nav ul li.th_level:hover>.sub-additional, 
.inside_of_block nav.main-nav ul li.trd_level:hover>.sub-additional {
    margin-left: -25px;
}
.additional .sub-additional {
    padding-right: 25px;
}
.recommendation:active #recommend-inside .recommend-newsImg div a#rel {
    transform: scale(0.95);
}
.recommendation #recommend-inside .recommend-newsImg div a#rel {
    background: var(--preset-2b);
    border-color: var(--preset-6a);
}
.recommendation #recommend-inside:hover > .recommend-newsImg div a#rel {
    color: var(--preset-5a);
    background: transparent;
    border-color: var(--mirror-end);
    font-size: 1rem;
    line-height: 50px;
    margin: 20px auto;
    max-width: 88%;
    letter-spacing: 3px;
}
.recommendation #recommend-inside:hover span.content-core {
    padding: 0 20px;
}
.about_blocks li.intro_right .mbit .mbit_intro p {
    opacity: 1!important;
}
.recommendation #recommend-inside .recommend-newsImg div a#rel b {
    max-width: 18em;
    margin: 0 auto;
}
/**
**
** @weblog
**
**/
.weblog-tree-box .tree-box-content p {
    font-size: var(--min-size-rem);
}
/**
**
** @new
**
**/
#news-article-head h1 {
    font-size: 2.5rem;
}
/**
**
** @notes
**
**/
.bg h1 {
    font-size: 3.5rem;
}
.win-content article h1 {
    font-size: 1.5rem;
    font-family: serif;
}
/**
**
** articles
**
**/
blockquote strong {
    text-decoration: none!important;
}
.content > p {
    margin: 25px auto;
}
.content p strong {
    text-decoration: underline wavy;
    text-decoration-color: var(--theme-color);
    text-underline-offset: 5px;
}
body.dark .news-article-window {
    color: var(--preset-c);
}
#news-article-head h1 {
    font-family: serif;
    font-size: 3rem;
}
.bg h1 a {
    text-shadow: 2px 4px 0px color-mix(in oklab, var(--theme-color) 50%, transparent);
    /*filter: none;*/
}
blockquote {
    padding-left: 15px;
}
blockquote.wp-block-quote p {
    /*color: var(--preset-5a);*/
    font-family: serif;
    margin-bottom: 15px;
}
body.dark blockquote.wp-block-quote p {
    color: var(--preset-9)!important;
}
/**
**
** disabled feats
**
**/
.inside-functions .box div.dark:active i::after, 
.inside-functions .box div.dark:active svg {
    animation: none;
}

/**
**
** blog contrast fixes
**
**/
/*body.dark .win-content article h3,*/
body.dark .win-content article h2 {
    color: var(--preset-f);
}
body.dark .win-content article {
    color: var(--preset-c);
}
body.dark .v .vlist .vcard .vcontent {
    color: var(--preset-9);
}
.v .vlist .vcard .vcontent {
    color: var(--preset-6);
}