/*
** overwrite ui
*/
.Fresh-ImgBoxs span a:hover > b {
    opacity: 0;
}
.Fresh-ImgBoxs span a:hover > i:before,
.Fresh-ImgBoxs span a:hover {
    color: currentColor!important;
}
.sub-additional,
.additional {
    min-width: 112%;
}
.additional li a {
    overflow: hidden;
    text-overflow: ellipsis;
}
.additional .sub-additional .sub-additional {
    right: 0%;
}
.inside_of_block nav.main-nav ul li.th_level:hover > .sub-additional,
.inside_of_block nav.main-nav ul li.trd_level:hover > .sub-additional {
    right: 100%;
}
.inside_of_block nav.main-nav ul li.sec_level:hover > .additional {
    padding-top: 30px;
}
.main-header-all.barSetUp {
    pointer-events: none;
    /*visibility: hidden;*/
}
.main-header-all.barSetDown nav .nav-slider {
    top: -50px;
}
nav .nav-wrap .nav-slider.show {
    opacity: .1;
    transition-property: all;
}
nav .nav-wrap .nav-slider.hide {
    transition-property: none;
}
nav .nav-wrap .nav-slider {
    opacity: 0;
    /*min-width: 10px;*/
    min-height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: var(--radius);
    transition: ease;
    /*transition-property: width, height, opacity;*/
    /*transition: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);*/
    /*background: -webkit-linear-gradient(0deg, var(--mirror-start) 0, var(--mirror-end));*/
    pointer-events: none;
}
@keyframes valueSetUp {
    0% {
        opacity: 1;
        transform:translateY(0);
    }
    100% {
        opacity: 0;
        transform:translateY(-50%);
    }
}
@keyframes valueSetDown {
    0% {
        opacity: 0;
        transform:translateY(-50%);
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
}
/*
** experimental style futures
*/
.footer-detector::before {
    opacity: .35;
}
/*.footer-ul,*/
/*.footer-right a,*/
.footer-detector,
.archive-tree,
header>nav#tipson .top-bar-tips,
.inside_of_block nav.main-nav ul li a,
.weBlog-Description .weBlog-Description-inside {
    color: var(--preset-5a);
}
/*.inside_of_block nav.main-nav ul li a {*/
/*    opacity: .88;*/
/*}*/
/*.additional.metabox li a {*/
/*    opacity: 1;*/
/*}*/
/*.footer-recommend a,*/
/*.footer-quickway a {*/
/*    color: var(--preset-4a);*/
/*}*/
/*.footer-right a {*/
/*    opacity: .75;*/
/*}*/
.win-top .counter h2 sup {
    opacity: .75;
    position: absolute;
}
body.dark .load button:active,
body.dark .v .vlist .vcard .vh .vat:hover,
.resource-windows div ul li a:hover,
.recommendation:hover > #recommend-inside .recommend-newsImg div a#rel,
footer a:hover {
    color: var(--theme-color)!important;
}
.adscene {
    margin-bottom: 15px!important;
}
.slider-menu {
    background-image: radial-gradient(var(--preset-3a) 1px, var(--preset-2b) 1px)!important;
    background-size: 10px 10px!important;
}
.inside-functions .box div.dark.disabled {
    opacity: .5;
}
.inside-functions .box div.dark.disabled {
    pointer-events: auto!important;
}
.inside-functions .box div:active {
    transition: transform .35s ease;
}
.inside-functions .box div {
    transition: transform .75s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /*box-shadow: 0 0 20px var(--preset-c);*/
    border: 2px solid var(--preset-4a);
    font-weight: bold;
}
#tech_window-bottom,
#acg_window-bottom,
.load button,
.links-more {
    border-width: 2px!important;
}
header>nav#tipson .top-bar-tips {
    z-index: 9999;
}
.main-header-all {
    z-index: 9998;
    animation-duration: .55s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.article_index .in_dex,
header>nav#tipson .top-bar-tips {
    backdrop-filter: saturate(150%) blur(5px);
    -webkit-backdrop-filter: saturate(150%) blur(5px);
    background-image: radial-gradient(rgb(255 255 255 / 55%) 2px, rgb(255 255 255) 2px);
    background-size: 4px 4px;
    /*background-color: rgba(255,255,255, .55);*/
    /*backdrop-filter: saturate(150%) blur(0px);*/
    /*-webkit-backdrop-filter: saturate(150%) blur(0px);*/
}
body.dark .article_index .in_dex,
body.dark header>nav#tipson .top-bar-tips {
    background-image: radial-gradient(var(--preset-2b) 2px, var(--preset-2bs) 2px);
    background-size: 4px 4px;
    background-color: var(--preset-2bs);
}
body.dark .rcmd-boxes .info .inbox .inbox-headside img,
body.dark .article_index a,
#supports-txt {
    opacity: 1!important;
}
.rcmd-boxes .info .inbox {
    background-color: var(--preset-e);
}
.rcmd-boxes .info .inbox .inbox-aside,
blockquote.wp-block-quote p,
.friends-boxes .deals .inboxSliderCard .slideBox a,
#footer-copyright li {
    color: var(--preset-6);
}
body.dark .friends-boxes .deals .inboxSliderCard .slideBox a,
body.dark #footer-copyright li {
    color: var(--preset-9);
}
/**
**
**  Experimental Feats
**  UI 2025
**
**/
:root {
    --radius: 18px;
    --preset-5a: rgb(47 68 87);
    --preset-6a: rgb(62 90 115);
}
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*footer .container,*/
.win-top:after,
.content-all {
    background-image: radial-gradient(var(--preset-e) 1px, var(--preset-fa) 1px);
    background-size: 10px 10px;
    /** Performance Issue **/
    /*background-attachment: fixed;*/
}
/*body.dark footer .container,*/
body.dark .win-top:after,
body.dark .content-all {
    background-image: radial-gradient(var(--preset-3a) 1px, var(--preset-2b) 1px);
}
/**
** index
**/
/*.acg_window-content-inside_left-list li a,*/
#tech_window-bottom,
#acg_window-bottom {
    background: linear-gradient(180deg, var(--mirror) 0, #fff);
    background: -webkit-linear-gradient(-90deg, var(--mirror) 0, #fff);
}
body.dark .recommendation #recommend-inside .recommend-newsContent {
    border-color: transparent!important;
}
.recommendation #recommend-inside .recommend-newsImg div a#rel {
    color: var(--mirror);
    /*letter-spacing: 1px;*/
    background: var(--preset-2bs);
    border: 1px solid var(--preset-6);
    backdrop-filter: blur(14px);
    margin: 18px auto;
    max-width: 14em;
    line-height: 36px;
    border-radius: 50px;
    transition: all .55s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.recommendation #recommend-inside .recommend-newsImg div a#rel b {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 98%;
}
.recommendation #recommend-inside:hover > .recommend-newsImg div a#rel {
    color: var(--preset-f);
    border-color: transparent;
    margin: 0 auto;
    line-height: 55px;
    max-width: 100%;
    border-radius: 0;
    letter-spacing: 5px;
    /*font-size: 1rem;*/
    /*margin: 15px auto;*/
    /*line-height: 45px;*/
    /*max-width: 90%;*/
    /*border-radius: calc(var(--radius) / 1.5);*/
}
.recommendation #recommend-inside:active > .recommend-newsImg div a#rel {
    /*transform: scale(1.15);*/
    letter-spacing: 1px;
    margin: 18px auto;
    max-width: 12em;
    line-height: 36px;
    border-radius: 50px;
    border-color: var(--preset-6);
    transition: .15s ease;
}
.resource-windows div ul li a:focus {
    background: var(--preset-fa);
    border-color: transparent!important;
    box-shadow: rgb(0 0 0 / 5%) 0 0 20px!important;
    /*box-shadow: none!important;*/
}
body.dark .resource-windows div ul li a:focus {
    background: var(--preset-3a);
}
/**
** news && weblog && valine comments
**/
.news-article-inside {
    border: 2px solid var(--preset-f);
}
.pageSwitcher a:hover {
    color: var(--theme-color)!important;
    background: var(--preset-fa);
}
/*.v .vlist .vcard.true,*/
/*.v .vlist .vcard:hover,*/
body.dark .wp-block-table table {
    background: var(--preset-2b);
}
.wp-block-table table,
.pageSwitcher a {
    background: var(--preset-f);
    background-color: var(--preset-f);
}
.news-content-right-download,
.news-ppt div:first-of-type,
.main-root ul li:nth-child(even),
.weblog-tree-core-r {
    background: var(--preset-f);
    border-color: var(--preset-f);
    box-shadow: rgb(0 0 0 / 5%) 0 0 20px;
    transition-property: transform!important;
}
.win-content article p,
.news-content-right-download ol,
.v .vlist .vcard .vh .vat,
#comment_txt p,
.news-inside-content .news-core_area p {
    color: var(--preset-6);
}
.news-ppt {
    overflow: visible;
}
/*body.dark .v .vlist .vcard.true,*/
/*body.dark .v .vlist .vcard:hover,*/
body.dark .weblog-tree-core-r,
body.dark .news-ppt div:first-of-type,
body.dark .pageSwitcher a {
    background: var(--preset-3b);
    border-color: var(--preset-3a);
}
body.dark .v .vlist .vcard .vh .vat,
body.dark #comment_txt p,
body.dark .news-inside-content .news-core_area p {
    color: var(--preset-9)!important;
}
.v .vlist .vcard .vquote.overview:before {
    border-radius: inherit;
}
.v .vlist .vcard .vquote {
    border-radius: var(--radius);
}
/*body.dark .v .vlist .vcard .vquote,*/
body.dark .v .vlist .vcard:hover {
    border-color: var(--preset-4b);
}
/*body.dark .v .vlist .vcard .vquote,*/
body.dark .v .vlist .vcard .vquote .vcard:hover {
    background-image: repeating-linear-gradient(211deg, var(--preset-3a) 0, var(--preset-3a) 2px, transparent 2px, transparent 4px)!important;
    background-color: var(--preset-3b)!important;
}
/*.v .vlist .vcard .vquote,*/
.v .vlist .vcard .vquote .vcard:hover {
    background-image: repeating-linear-gradient(211deg, var(--preset-s) 0, var(--preset-s) 2px, transparent 2px, transparent 4px)!important;
    background-color: var(--preset-f)!important;
    /*border: 1px solid var(--preset-s);*/
}
.v .vlist .vcard .vquote .vcard {
    transition-property: transform, top!important;
}
.v .vwrap .vedit .vemojis img {
    overflow: visible;
}
.v .vlist .vcard.true,
.v .vlist .vcard:hover {
    border-color: var(--preset-e);
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
.v .vlist .vcard .vquote:hover {
    border-color: transparent;
}
.v .vlist .vcard {
    border: 1px solid transparent;
}
.v .vlist .vcard .vcontent.expand,
.v .vlist .vcard .vcontent img#draw {
    border-radius: var(--radius);
}
.v .vlist .vcard .vcontent p {
    color: var(--preset-6);
}
body.dark .rcmd-boxes .info .inbox .inbox-aside,
body.dark .v .vlist .vcard .vcontent p {
    color: var(--preset-c);
}
body.dark .v .vlist .vcard .vcontent img#draw {
    background: var(--preset-4a);
}
/**
** archive
**/
.archive-tree h2 {
    border: none;
}
.cs-tree .dayto {
    border: 1px solid var(--preset-9);
}
body.dark .cs-tree span,
body.dark .archive-tree ul li a {
    border-color: var(--preset-4b);
}
/**
** 2bfriends
**/
.friends-boxes .deals .inboxSliderCard {
    color: var(--preset-9);
}
body.dark .friends-boxes .deals .inboxSliderCard {
    color: var(--preset-6);
}
/**
** etc
**/
/*.body-basically .Introduce,*/
.main {
    color: var(--preset-4a);
}
footer #footer-support-board {
    box-shadow: 0px -20px 20px rgb(0 0 0 / 5%);
}
/*.load button:hover {*/
/*    border-color: transparent!important;*/
/*}*/
.load button:active {
    color: var(--theme-color)!important;
}
/*.v .vbtn,*/
.load button {
    /*color: var(--preset-6);*/
    /*border: 2px solid var(--preset-f);*/
    font-weight: bold;
    border-color: var(--preset-f);
    background: linear-gradient(45deg, var(--mirror-start), var(--mirror-end));
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
/*body.dark .v .vbtn,*/
body.dark .load button {
    /*color: var(--preset-c);*/
    border-color: var(--preset-4a);
    background: linear-gradient(45deg, var(--preset-4a), var(--preset-2b));
}
/**
** feat: header
**/
.inside_of_block nav.main-nav ul li {
    line-height: normal;
}
.inside_of_block nav.main-nav ul li a {
    padding: 25px 15px;
    margin: 15px auto;
}
.inside_of_block nav.main-nav ul li a.choosen::after {
    border-radius: 3px;
    opacity: .15;
}
.additional .links-more li a {
    margin: auto!important;
}
.additional.metabox .links-more li a {
    margin: auto!important;
}
.additional.metaboxes .links-more li a {
    margin: auto 15px 0 0!important;
}
.additional.metaboxes li a:before {
    opacity: .52;
}
.sub-additional.metabox ol {
    padding: 15px!important;
}
/*.recommendation,*/
/*.Fresh-ImgBoxs span,*/
/*.banner .banner-inside,*/
/*.resource-windows div,*/
.v .vwrap,
.v .vlist .vcard {
    /*border-radius: calc(var(--radius) * 2);*/
    border-radius: var(--radius)!important;
}
.vheader #avatar {
    border-radius: var(--radius) var(--radius) 0 0!important;
}
/**
** 
** feat: ue/scale transform
** 
**/
/*.win-content article h1,*/
/*.news-inside-content h2 a,*/
/*header>nav#tipson .top-bar-tips a,*/
.body-basically .Introduce p a,
article .infos a,
.stats a,
figure a,
footer a {
    display: inline-block;
}
/**
**  disabled transform
**/
#vcomments.v.drawing .vwrap,
#vcomments.v.drawing .vlist .vcard {
    transform: none!important;
}
/*.content-all a:active,*/
/*.friends-boxes .inbox-clip:active,*/
/*.v .vwrap .vedit .vctrl span:active,*/
.inside_of_block nav.main-nav ul li a:active,
.mobile-vision span:active,
.slider-menu-inside i:active,
.slider-menu_body ul li a:active,
.inside_of_block .logo-area:active,
.Fresh-ImgBoxs span:active,
.resource-windows div:active,
.weBlog-Description .weBlog-Description-inside-content:active,
.win-top .counter a:active,
.news-article-head-tools span:active,
.load button:active,
.body-basically .Introduce p a:active,
.rcmd-boxes .info .inbox.more:active,
.ibox .iboxes:active,
.share a:active,
form:active,
.lively-click:active {
    transform: scale(0.92);
}
/*.inside_of_block nav.main-nav:active,*/
/*.In-core-head .profile:active,*/
/*.win-top h1:active,*/
/*.win-top h5:active,*/
header>nav#tipson .top-bar-tips a:active,
.main-root:active,
.pageSwitcher:active,
.recommendation:active,
.article_index .in_dex:active,
.friends-boxes .deals .inboxSliderCard:active,
.acg_window-content-inside_right .tags:active,
.acg_window-content-inside_left-list:active,
.additional ol:active,
.news-window:active,
#acg_window-bottom:active,
/*.news-slidebar-window>#translatez > div:active,*/
.news-content-right-download:active,
.win-nav .nav-header:active,
/*.win-content article .infos:active,*/
.win-content .notes article:active,
.weblog-tree-core-r:active,
.ibox.quotes .iboxes:active,
a.markable .tools .toolInside:active,
footer a:active,
figure a:active,
/*.v .vlist .vquote .vcard:active,*/
.lively-click-098:active {
    transform: scale(0.98);
}
/*.archive-tree ul li a.link:active,*/
.download_boxes .dld_box .dld_box_wrap:active,
details summary:active,
.about_blocks:active,
.v .vwrap:active,
.v .vlist .vcard:active,
.lively-click-099:active {
    transform: scale(0.99);
}
/*.additional.metaboxes li a:active,*/
.additional li a:active,
.friends-boxes .deals .inboxSliderCard .slideBox a:active,
.acg_window-content-inside_left-list li a:active,
.news-content-right-download ol li a:active,
.friends-boxes .deals .inbox:active,
.article_index .in_dex a:active,
.rcmd-boxes .info .inbox:active,
.footer-detector:active,
.v .vlist .vcard .vhead .vnick:active,
.v .vwrap .vedit .vctrl span:active,
.v .vbtn:active,
.stats a:active,
.lively-click-108:active {
    transform: scale(1.08)!important;
}
/**
**  Special translates
**/
.lively-click-central:active {
    transform: scale(0.92) translate(-50%, -50%)!important;
}
#html2img:active,
.slider-menu_header .slider-logo span:active,
.mobile-vision .m-logo span:active,
.lively-click-098-central:active {
    transform: scale(0.98) translate(-50%, -50%)!important;
}
.v .vbtn.extend_addon:active,
.inside-functions .box div.pagePer:active,
.lively-click-108-central:active {
    transform: scale(1.08) translate(-50%, -50%)!important;
}
.lively-click-115-central:active {
    transform: scale(1.15) translate(-50%, -50%)!important;
}
.inside-functions .box div.dark:active {
    transform: scale(0.92) translate(-66px, -66px);
}
.inside-functions .box div.top:active {
    transform: scale(0.92) translate(-50%, -80px);
}
.inside-functions .box div.bottom:active {
    transform: scale(0.92) translate(-80px, -50%);
}
/*.win-content article h1:active,*/
/*.news-inside-content h2 a:active,*/
.win-content article .infos a:active,
#html2img #cancel:active,
.main-root ul li a:active,
.pageSwitcher a:active,
.about_blocks li.intro_right .mbit .mbit_intro a:active,
.acg_window-content-inside_right .tags span:active,
#acg_window-bottom a:active,
.cs-tree span:active,
.news-window-img a:active,
.v .vlist .vcard .vh .vat:active,
.v .vwrap .vedit .vemojis img:active,
.resource-windows div ul li:active,
a.markable .tools .toolInside span:active,
.lively-click-115:active {
    transform: scale(1.15)!important;
}
/*.inside_of_block nav.main-nav,*/
/*.friends-boxes .inbox-clip,*/
/*.news-inside-content h2 a,*/
/*.win-content article h1,*/
/*.In-core-head .profile,*/
/*.content-all a,*/
/*.win-top h1,*/
/*.win-top h5,*/
/*header>nav#tipson .top-bar-tips a,*/
.mobile-vision span,
.slider-menu_header .slider-logo span,
.slider-menu-inside i,
.slider-menu_body ul li a,
.inside_of_block nav.main-nav ul li a,
.inside_of_block .logo-area,
.recommendation,
.Fresh-ImgBoxs span,
.resource-windows div,
.resource-windows div ul li,
.weBlog-Description .weBlog-Description-inside-content,
.acg_window-content-inside_right .tags,
.acg_window-content-inside_right .tags span,
.acg_window-content-inside_left-list,
.acg_window-content-inside_left-list li a,
.win-top .counter a,
.cs-tree span,
/*.archive-tree ul li a.link,*/
#acg_window-bottom,
#acg_window-bottom a,
.additional ol,
.news-article-head-tools span,
.news-window,
.news-window-img a,
/*.news-slidebar-window>#translatez > div,*/
.news-content-right-download,
.news-content-right-download ol li a,
.win-nav .nav-header,
.win-content .notes article,
/*.win-content article .infos,*/
.win-content article .infos a,
.main-root,
.main-root ul li a,
.weblog-tree-core-r,
.v .vwrap,
.load button,
.pageSwitcher,
.pageSwitcher a,
.v .vbtn,
.v .vlist .vcard,
/*.v .vlist .vcard .vh .vat,*/
.v .vwrap .vedit .vctrl span,
.v .vwrap .vedit .vemojis img,
/*.v .vlist .vcard .vhead .vnick,*/
.rcmd-boxes .info .inbox.more,
.about_blocks,
.about_blocks li.intro_right .mbit .mbit_intro a,
.body-basically .Introduce p a,
.ibox .iboxes,
.friends-boxes .deals .inbox,
.friends-boxes .deals .inboxSliderCard,
.friends-boxes .deals .inboxSliderCard .slideBox a,
.download_boxes .dld_box .dld_box_wrap,
.article_index .in_dex,
.article_index .in_dex a,
.footer-detector,
a.markable .tools .toolInside,
a.markable .tools .toolInside span,
#html2img,
#html2img #cancel,
details summary,
form,
figure a,
footer a,
.stats a,
.share a,
.lively-click,
.lively-click-098,
.lively-click-098-central,
.lively-click-099,
.lively-click-099-central,
.lively-click-108,
.lively-click-108-central,
.lively-click-115,
.lively-click-115-central {
    transition: .15s ease;
    transition-property: transform, top, background;
    /*will-change: transform;*/
}
/**
** 
** feat: animations
** 
**/
@keyframes switchMode {
    0% {
        opacity: 0;
        transform: translate(-50%,-50%) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(10);
    }
}
@keyframes switchModes {
    0% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(10);
    }
    66% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(20);
    }
    99% {
        transform: translate(-50%,-50%) scale(100);
    }
    100% {
        opacity: 0;
        transform: translate(-50%,-50%) scale(1);
    }
}
/*body.dark header>nav#tipson .top-bar-tips {*/
/*    z-index: 9999;*/
/*}*/
/*.inside-functions .box div.dark:active,*/
/*.inside-functions .box div.dark:hover {*/
/*    overflow: visible;*/
/*}*/
/*.inside-functions .box div.dark {*/
/*    overflow: hidden;*/
/*}*/
/*body.light .inside-functions .box div.dark i::after,*/
/*body.dark .inside-functions .box div.dark i::after,*/
.inside-functions .box div.dark:active i::after,
.inside-functions .box div.dark:active svg {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: 
        switchMode .15s 0s,
        switchModes .55s .15s;
    /*transform: scale(10);*/
    /*opacity: 1;*/
}
body.dark .inside-functions .box div.dark i::after,
body.dark .inside-functions .box div.dark svg {
    /*color: var(--preset-fa);*/
    color: var(--mirror-start);
}
.inside-functions .box div.dark i::after,
.inside-functions .box div.dark svg {
    color: var(--preset-2bs);
    /*color: var(--preset-3a);*/
    fill: currentColor;
    background: currentColor;
}
.inside-functions .box div.dark i::after,
.inside-functions .box div.dark svg {
    content: '';
    min-width: 40px;
    min-height: 40px;
    display: block;
    border-radius: 50%;
    opacity: 0;
    z-index: -9;
    position: inherit;
    top: -2px;
    left: -2px;
    /*transform-origin: bottom right;*/
    /*will-change: transform;*/
}
.inside-functions .box div.dark i::after {
    top: inherit;
    left: inherit;
    transform: inherit;
}