
.content-all-windows{overflow-y:inherit;padding:0 15px;}
.win-nav-content{width:100%;height:auto;color:var(--preset-4a);display:flex;flex-flow:row nowrap;justify-content:space-between}
.win-top span#fixed{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.win-top h5:before{content:'';display:inherit;width: 38%;height: 36%;background-color: var(--theme-color);position:absolute;right: 0;bottom: 0;z-index:-1;}
.win-nav{width:25%;height:auto;float:left;position:relative;top:-98px;z-index:9;}
.win-nav .nav-fixes{width:100%;height:auto;position:relative;transition:margin .45s cubic-bezier(0,0.84,0.25,1)}
.win-nav .nav-header{width:100%;height:auto;padding:15px 0 0;box-sizing:border-box;position:relative;background-color:var(--preset-f);background:url('https://img.2broear.com/pixel/4.jpg') center center /cover;box-shadow:rgba(0,0,0,0.08) 20px 20px 20px;border-radius:10px;overflow:hidden;z-index:9}
.win-nav .nav-header div:before{content:'';width:100%;height:18px;position:absolute;top:-18px;left:0;clip-path:ellipse(55% 100% at 50% 100%)}
.win-nav .nav-header div{position:relative;z-index:3;background-color:var(--preset-f);padding:15% 15px;box-shadow:rgba(0,0,0,0.18) 0px -20px 20px}
.win-nav .nav-header span{width:88px;height:88px;display:block;padding:5px;margin:0 auto;background-color:var(--preset-f);border-radius:50%;position:relative;top:55px;z-index:99}
.win-nav .nav-header img{width:100%;height:100%;position:relative;z-index:1;border-radius:inherit}
.win-nav .nav-header em{width:100%;height:100%;display:block;background-color:var(--preset-f);position:absolute;top:0;left:0;z-index:0;animation:profileScale 3.2s ease infinite normal;border-radius:inherit}
@keyframes profileLoop{0%{background-color:var(--preset-d)}
100%{background:transparent}
}@keyframes profileScale{0%{transform:scale(0.8);opacity:1}
100%{transform:scale(1.3);opacity:0}
}.win-nav .nav-header h2{font-size:1.1rem;margin:25px auto auto}
.win-nav .nav-header p{font-weight:300;margin:5px auto 15px;font-size:var(--min-size-rem)}
.win-nav .nav-header small{color:var(--preset-9);font-size: var(--min-size)}
.win-nav .nav-header a:hover{text-decoration:overline}
.win-nav .nav-header a{color:var(--theme-color);font-size:smaller}
.nav-body{padding:5px 0;font-size:14px}
.nav-body .main-root{margin:0;border-radius:10px;text-align:left;border-radius:10px}
.main-root ul{color:var(--preset-6);padding:0;margin:inherit;box-sizing:border-box}
.main-root ul li{width:100%;height:auto;position:relative;border-radius:10px}
.main-root ul li:nth-child(even) a:hover{background-color:var(--preset-s)}
.main-root ul li:nth-child(even){background-color:var(--preset-fa)}
.main-root ul li a.choosen,
.main-root ul li a:hover{color:var(--theme-color)}
.main-root ul li:last-child a{border-style:none}
.main-root ul li a.disable{pointer-events:none}
.main-root ul li a{color:inherit;display:block;padding:0 35px;line-height:52px;position:relative;border-radius:inherit;}
.selected{color:var(--theme-color) !important;font-weight:bold;background-color:var(--preset-s)}
.main-root ul li a#root.cc::before{border-bottom-color:var(--theme-color)}
.main-root ul li a#root::before{content:'';width:0;height:0;display:block;position:absolute;bottom:0;right:0;border-bottom:7px solid var(--preset-d);border-left:7px solid transparent}
.main-root ul li a#roots.cc::before{border-bottom-color:var(--theme-color)}
.main-root ul li a#roots::before{width:0;height:0;display:block;position:absolute;bottom:0;right:0;border-bottom:7px solid #a7a7a7;border-left:7px solid transparent}
.main-root ul li a:hvoer + .sub-root{display:block!important}
.main-root ul li div.sub-root{width:100%;height:auto;/*display:none;*/}
.sub-root ol{padding:0}
.sub-root ol li{display:block;padding:0}
.sub-root ol li a{color:var(--preset-8);padding:0 55px;font-size:var(--min-size)}
.sub-root ol li a:hover{background-color:var(--preset-d)}
.sub-root ol li.roots .sub-root ol a{padding:0 75px}
.win-content.main{background:transparent!important;margin-bottom:10%;}
.win-content{width:72%;height:auto;display:flex;flex-flow:column wrap;margin-left:25px;margin-top:0;/*padding-top:18px;*/}
.win-content .notes{max-width:100%;text-align:center;/*overflow-x:hidden*/}
.win-content div.notes-adsense{width:100%;margin:0 auto 35px}
/* .win-content article:hover{box-shadow: rgb(0 0 0 / 5%) 0 0 20px;} */
.win-content article{width:100%;color:var(--preset-4a);text-align:left;display:inline-block;margin-bottom: 15px;padding: 15px;border-radius:var(--radius);box-sizing: border-box;}
.win-content article h1{color:var(--preset-6);font-size:1.25rem;position:relative;padding:0 15px;border-left:3px solid var(--theme-color);line-height:1.5}
.win-content article.topset > h1 a,
.win-content article:hover > h1 a{color:var(--theme-color)}
.win-content article.topset > .info::after,
.win-content article:hover > .info::after{background: var(--theme-color);width:36%}
.win-content article h1 a{color:inherit}
.win-content article h1 i{display:block;width:30%;height:3px;background-color:var(--theme-color);margin:5px auto}
.win-content article h1 sup{color:var(--preset-9);font-size:var(--min-size);font-weight:normal;border:1px solid currentColor;padding:1px 7px 2px;border-radius:5px;margin-left:10px}
.win-content article p{color:var(--preset-9);font-size:14px;line-height:23px;padding-left:20px}
.win-content article p a{color: var(--theme-color);}
.win-content article .info{color:var(--preset-8);max-width:58%;font-size:var(--min-size);float:right;position:relative;text-align:right;padding-bottom:5px;margin-top:5px;border-bottom:1px solid var(--preset-d);box-sizing:border-box}
.win-content article .info span{margin-left:10px}
.win-content article .info span#slider{margin:auto}
article .info::after{content:'';width:32%;height:2px;background:currentColor;position:absolute;bottom:-1px;right:0;transition:width .15s ease}
article .info span.valine-comment-count:before{content: "#"}
article .info span.classify{color:var(--preset-9)}
article .info span#keywords{color:var(--preset-8)}
.win-content .load-more_notes{width:100%;height:auto;display:block;margin:0 auto 15px}
.win-content .load-more_notes button:hover{border-color:var(--theme-color);color:var(--theme-color)}
.win-content .load-more_notes button:active{background-color:var(--theme-color);border-color:var(--theme-color);color:var(--preset-f)!important;}
.win-content .load-more_notes button{color:var(--preset-8);background:transparent;font-size:14px;line-height:38px;padding:0 35px;border:1px solid var(--preset-9);border-radius:25px;cursor:pointer;user-select:none}
.win-content .load-more_notes button.none{color:var(--preset-c);background-color:var(--preset-fa);border-style:none;position:relative;padding:0 20px;cursor:default;pointer-events:none}
.win-content .load-more_notes button.none:after{content:'';width:180%;height:1px;background-color:var(--preset-s);position:absolute;z-index:-1;top:50%;left:50%;transform:translate(-50%,-50%)}
@media screen and (max-width:960px){
/*.content-all-windows{padding-top:28px!important}*/
header{height:52px}
.nav-fixes{position:inherit!important;bottom:auto!important}
.win-nav{top:auto;}
.win-nav .nav-header{display:none}
.win-nav-content{flex-direction:column}
.win-nav{width:100%}
.win-content{width:100%;margin:0 auto}
}@media only screen and (max-width:600px){
.win-content article .info{max-width:88%}
}